{% extends "base.html" %}
{% block title %}Users DB{% endblock %}
{% block body %}
    <form action="#" method = "post">
        <p>Username<br>
            <input type="text", name="new_name" placeholder = {{name}}>
            <input type="submit" value="edit">
        </p>
    </form>

    <form action="#" method = "post">
        <p>Password:<br>
            <input type="text", name="new_password" placeholder = {{password}}>
            <input type="submit" value="edit">
        </p>
    </form>

{% endblock %}